	body {
		min-height: 100vh; /* full viewport height */
  		margin: 0; /* remove default margin */
		padding: 0;
	}

	h1 {
		color: #a5d6a7;
		font-size: 250%
	}

	nav {
		/*container box*/
		text-align: right;   /* aligns everything to the right */
	}
	
	nav a {
		text-decoration: none; /* removes underline */
		color: #468e49;
		padding-right: 5px;
		margin-left: 8px;
		transition: color 0.3s ease;
	}

	.top-bar {
		display: flex;
		justify-content: space-between; /* pushes SAB left, nav right */
		align-items: center;
		padding: 10px 20px;
	}

	.top-bar h1 {
		margin: 0;
		font-weight: normal;
		font-size: 25px;
	}

	.certi{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	.certi img {
		width: 350px;
		border-radius: 12px;
		display: block;
		margin: 20px;
	}
